p {
    color: #002b36;
    color: #073642;
    color: #586e75;
    color: #657b83;
    color: #839496;
    color: #93a1a1;
    color: #eee8d5;
    color: #fdf6e3;
    color: #b58900;
    color: #cb4b16;
    color: #dc322f;
    color: #d33682;
    color: #6c71c4;
    color: #268bd2;
    color: #2aa198;
    color: #859900;
}